*{
    margin: 0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(111, 4, 4);
    color: rgb(239, 224, 224);
}
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight:600;
}
form{
    width: 90%;
    height: 80px;
    margin:auto;
    max-width: 600px;
    background: whitesmoke;
    display:flex;
    align-items: center;
    border-radius: 8px;
}
input{
    flex:1;
    height: 100%;
    border:0;
    outline:0;
    background: transparent;
    color:rgb(243, 78, 72);
    font-size:18px;
    padding:0 30px;
}
form button{
    padding: 0 40px;
    height: 100%;
    background: rgb(255, 41, 3);
    color:white;
    font-size: 18px;
    border-radius: 8px;
    outline-color: rgb(255, 255, 255);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    cursor:pointer;
}
::placeholder{
    color:rgb(237, 118, 63);
    font-size: 18px;
}
#show-more-btn{
    background:rgb(237, 6, 6);
    color : rgb(253, 253, 253);
    border:0;
    outline:0;
    padding: 10px 20px;
    border-radius: 4px;
    margin:20px auto 100px;
    cursor:pointer;
    display :none;
}
#search-result{
    width:80%;
    margin:100px auto 50px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
}
#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius:5px;
}
